/*HOME*/
body {
    background-color: #0B001A;
    padding: 20px;
  }

  #home {
    background-color: #1E0044;
    border-radius: 20px;
    padding: 80px 40px 30px 40px;
    margin: 50px 0px 15px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
  }

  #home img {
    display: flex;
    justify-content: baseline;
    align-items: stretch;
  }

  h1, p{
    font-family: 'Montserrat';
    color: #E9DEFF;
  }

  h1 {
    font-size: 95px;
    font-weight: 500;
    letter-spacing: -5px;
  }

  #home strong {
    background: linear-gradient(93deg, #8338EC 49.3%, #B923FF 87.76%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: 'Cormorant';
    font-size: 130px;
    font-style: italic;
    font-weight: 700;
  }

  p {
    font-size: 21px;
    font-weight: 400;
  }
