/*resset*/
* {
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }
  
  /*MENU*/
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #1E0044;
    border-radius: 20px;
    position: fixed;
    top: 15;
    left: 15;
    width: 97.3%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #E9DEFF;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 30px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #E9DEFF;
    font-weight: 400;
}

.login-button button {
    border: 1px solid #8338EC;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #1E0044;
}

.login-button button:hover{
  border: 1px solid #B923FF;
  -webkit-filter: drop-shadow(10px 5px 2.55px rgba(255, 255, 255, 0.2));
  filter: drop-shadow(10px 5px 2.5px rgba(252, 252, 252, 0.2));
  transition: all 0.5s;
}

.login-button button a {
    text-decoration: none;
    color: #E9DEFF;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}