/*resset*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
  }

  html {
    scroll-behavior: smooth;
  }
  
  /*MENU*/
.container {
    max-width: 1330px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #1E0044;
    border-radius: 20px;
    position: fixed;
    width: 97.3%;
    padding: 20px 0px 20px 0px;
    transition: 1s;
}

header.rolagem {
    background-color: #0B001A;
    padding: 20px 0px 20px 8px;
}

header li a {
    font-size: 18px;
    color: #E9DEFF;
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 30px;
}

header ul li a {
    color: #E9DEFF;
    text-decoration: none;
}

.btn-contato button {
    width: 120px;
    height: 40px;
    border: 0;
    background-color: blueviolet;
    color: #E9DEFF;
    cursor: pointer;
    transition: .2s;
}